

.title-style {
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  /* letter-spacing: 0.2rem; */
}

.full {
  margin-top: 20vh;
}

.empty {
  margin-top: 40vh;
}

.table-container {
  max-width: 700px;
}
